body {
  background: #fff;
  padding-top: 40px;
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Source Sans Pro", 'Helvetica Neue', Nanum Barun Gothic, Nanum Gothic, Helvetica, Arial, Dotum, sans-serif;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
  color: #666;
  font-size: 13px;
  line-height: 25px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s;
}
header p {
  font-size: 14pt;
  line-height: 25px;
}
h1 {
  font-size: 40px;
  line-height: 75px;
  padding-bottom: 10px;
}
h2{
font-size: 35px;
line-height:45px;
padding-top: 10px;
padding-bottom: 10px;
}
h3{
font-size:22px;
line-height:28px;
}
h4 {
font-size:18px;
line-height:24px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
p {
  margin: 5px 0px;
}
a, a:visited{
  color: #d5d1b9;
}

a:hover {
  color: #d5d1b9;
}
.button {
  margin:10px 0px;
}
.button a, .button a:visited {
  background: #E8E6D9;
  color: #fff;
  width: 100px;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: #d5d1b9;
}
.button a:hover {
  background: #d5d1b9;
  text-decoration: none;
}
.border {
  height: 20px;
}
.color {
  color: #406903;
}
a:hover, a:active, a:focus {
  outline: 0;
}

:focus {
  outline: none;
}
::-moz-focus-inner {
  border:0;
}

/* Navigation */

.navbar-inner {
  border-radius: 0px;
  background: #E8E6D9 !important;
  filter: none !important;
  border: none !important;
  border-bottom: 1px solid #d5d1b9 !important;
  box-shadow: none;
}
.navbar .nav, .navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom: 1; /* hasLayout ie7 trigger */
  vertical-align: top;
}
.navbar-inner {
  text-align: center;
}
.navbar .btn {
  background: #d5d1b9 !important;
}
.navbar .btn:hover {
  background: #d5d1b9 !important;
}
.navbar .nav > li > a {
  padding: 14px 15px 13px;
  color: #fff !important;
  text-shadow: none !important;
  font-size: 15px;
  font-weight: bold !important;
}
.navbar .nav > li > a:hover {
  background: #d5d1b9 !important;
  color: #fff !important;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
  color: #fff;
  box-shadow: none;
  background: #d5d1b9 !important;
}
.dropdown-toggle {
  background: #d5d1b9 !important;
}
.nav-collapse a {
  font-weight: normal !important;
  text-shadow: none !important;
}
.dropdown-menu{
  background:#d5d1b9 !important;
}
.dropdown-menu a {
  color: #fff !important;
  text-shadow: none !important;
}
.dropdown-menu a:hover {
  filter: none !important;
  background: #d5d1b9 !important;
}

/* Header */

header {
  height: 500px;
  text-align: center;
  padding-top: 70px;
  color: #fff;
  background: #fff url('/img/bg.png') no-repeat;
  background-position: top;
}
header h1 {
  font-size: 42px;
}
header h2 span {
  color: #777;
}
header .well {
  color: #666;
  background: #fff;
  display: inline-block;
  max-width: 600px;
  font-size: 13px;
  line-height: 24px;
}
.well {
  border: 0;
  box-shadow: none;
}
header h3 {
  font-size: 18px;
  line-height: 23px;
}

/* Head */

.head {
  text-align: center;
  margin-bottom: 20px;
}

/* Slider */

.flexslider ul li {
  background-image: none;
  padding: 0px;
}
.flexslider {
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 15px;
}
.flexslider .flex-control-nav {
  bottom: 0px;
}
.flex-control-paging li a {
  background: #fff;
  box-shadow: none;
}
.flex-control-paging li a:hover {
  background: #ccc;
}
.flex-control-paging li a.flex-active {
  background: #ccc;
}
.flexslider .slides > li {
  position: relative;
}
.flex-caption {
  width: 100%;
  padding: 10px;
  margin: 0 0 40px 40px;
  background-color: #222;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
}
.flex-caption h3 {
  color: #fff;
  font-weight: lighter;
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 3px;
}
.flex-caption h3 span {
   padding-bottom: 3px;
}
.flex-caption p {
  margin: 0;
  line-height: 19px;
  color: #ddd;
}

/* About */

.about {
  padding: 10px;
  background: #f5f4ef;
  border: 0 solid ;
  border-radius: 10px;
}
.about img {
  float: left;
  margin: 18px 10px 18px 18px;
  border: 1px solid #E8E6D9;
}
.about div {
  margin: 45px;
}
.about .baptismal {
  color: #888;
  font-size: 18px;
}

/* Wedding */

.wedding {
  padding: 10px 20px;
  background: #fafafa;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}
.wedding h4 i {
  margin-top: 4px;
  margin-right: 2px;
}
.wedding a img {
  border: 1px solid #eee;
}

/* Form */

form button {
  margin-left: 15px;
}

/* Footer */


/* Responsive */

@media (max-width: 480px) {
   header {
     padding-top: 20px !important;
   }
   .navbar .nav, .navbar .nav > li {
     float:left;
     display:inline;
   }
   .navbar-inner {
     text-align:left;
   }
   .flex-caption {
     display:none;
   }
}
@media (max-width: 767px) {
   header{
   margin-top:-20px;
   margin-left:-20px;
   margin-right:-20px;
   padding-top:50px;
   }
   header h1{
   font-size:35px;
   line-height:53px;
   text-shadow:none;
   }
   header .well{
   margin:5px 10px;
   }
   .navbar .nav, .navbar .nav > li {
   float:left;
   display:inline;
   }
   .navbar-inner{
   text-align:left;
   }
   .wedding{
   text-align:center;
   max-width:350px;
   margin:10px auto;
   }
   form button{
   margin-left:0px;
   }
}
@media (min-width: 768px) and (max-width: 979px){
   header{
   margin-top:-20px;
   }
   .navbar .nav, .navbar .nav > li {
   float:left;
   display:inline;
   }
   .navbar-inner{
   text-align:left;
   }
}
